html,
body {
  margin: 0;
  padding: 0;
  background-image: url('img/table.png');
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

h2 {
  margin: 10px;
}

button {
  background-color: #fff100;
  cursor: pointer;
  border: none;
  padding: 5px;
}

button:hover,
button:focus {
  background-color: orange;
}

button:active {
  color: #fff;
  background-color: #111;
}

button#new-deck {
  align-self: flex-start;
  /* â“Why doesn't it place the button at the top left corner? */
}

button.draw {
  font-size: 1.2em;
  align-self: stretch;
}

div.card-slot {
  height: 120px;
  width: calc(120px *5 / 7);
  border: 1px solid black;
  border-radius: 5px;
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 10px;
}

img.card {
  width: 100%;
  height: 100%;
}

div.top>p {
  margin: 0;
  margin-left: 10px;
}

button:disabled {
  cursor: now-allowed;
}